app                     = "NextCloud"
region                  = "ap-southeast-1" # ap-southeast-1
availability_zone       = "ap-southeast-1a"
ami                     = "ami-0fed77069cd5a6d6c" # ami-0fed77069cd5a6d6c
instance_type           = "t2.micro"
vpc_cidr_block          = "10.0.0.0/16"
public_subnet           = "10.0.0.0/24"
private_database_subnet = "10.0.1.0/24"
private_instance_subnet = "10.0.2.0/24"
app_private_ip          = "10.0.2.100"
database_private_ip     = "10.0.2.101"
bucket_name             = "nextcloud-sds-term-project"
database                = "mysql"
database_name           = "nextcloud"
database_user           = "username"
database_pass           = "password"
admin_user              = "admin"
admin_pass              = "admin"
